@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: 0.75s;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
